<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>找对象</title>
</head>
<body style="overflow: hidden;">
	<div style="width:50%;height:80px;position:absolute;top:40%;left:40%">(•̀ᴗ•́)و ̑̑ yo~~</div>
	<div style="width:200%;height:20px;position:absolute;top:96%;left:75%;"><span style="font-size: 15px">找不到对象</span><span style="font-size: 14px">找不到对象</span><span style="font-size: 10px">找不到⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄................................................................................................................................................................................................................................................................................................. </span> </div>
</body>
</html>