<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>help</title>

    <!-- Bootstrap -->
    <link href="static/libs/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/ctrcommenstyle.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
	{% include 'CTRNavBar.html' %}
	<div class="container" style="padding-top: 50px">
    <div class="row" role = "main">
      <div class="col-md-11">
        <ul style="font-size: 20px">
          <li>只有使用上报端上报数据之后才能登录系统或查看数据。(数据包涵用户名/id)</li>
          <li>并没有注册系统，请使用用户名直接登录(可不输入密码)</li>
          <li>一些不合群的脏数据将被系统过滤掉(若有此类异常数据的监控需求之后考虑开发)</li>
        </ul>
      </div>
    </div>
  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery-1.12.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/highChartStackBar.js"> </script>

<script src="static/libs/Highcharts-4.2.1/js/highcharts.js"></script>
<script src="static/libs/Highcharts-4.2.1/js/modules/exporting.js"></script>
</html>